/.idea/.name
/.idea/androidTestResultsUserPreferences.xml
/.idea/appInsightsSettings.xml
/.idea/assetWizardSettings.xml
/.idea/caches
/.idea/codeStyles
/.idea/copilot
/.idea/deploymentTargetDropDown.xml
/.idea/deploymentTargetSelector.xml
/.idea/dictionaries
/.idea/encodings.xml
/.idea/gradle.xml
/.idea/inspectionProfiles
/.idea/jarRepositories.xml
/.idea/kotlinc.xml
/.idea/libraries
/.idea/migrations.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/navEditor.xml
/.idea/other.xml
/.idea/runConfigurations.xml
/.idea/sonarlint
/.idea/workspace.xml
/.idea/AndroidProjectSystem.xml
/.kotlin
/build
/captures
/local.properties
._*
.DS_Store
.externalNativeBuild
.gradle
.Spotlight-V100
.Trashes
*.iml
ehthumbs.db
Thumbs.db
/gradle/libs.versions.updates.toml
